<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Product</title>
    <link rel="stylesheet" href="/css/add-product.css">
</head>
<body>
    <header class="index__header">
        <nav class="header__nav">
            <ul class="nav__ul">
                <li class="nav__li"><a href = "/">Home</a></li>
                <li class="nav__li"><a href = "/admin/add-product">Add a product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <form class= "product__form" action="/admin/add-product" method="POST">
            <div class="form__control">
                <label for="title">Title</label>
                <input class = "form__input" type="text" name = "title">
            </div>
            <button class = "form__button" type = "submit">Add Product</button>
            <button class = "form__button" type = "submit">Products page</button>
        </form>
    </main>
</body>
</html>