<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Product</title>
    <!-- <link rel="stylesheet" href="./styles/index.css"> -->
    <link rel="stylesheet" href="/css/index.css">
    <!-- without the static method of express, although the css is available in live server, it is not working with the node server(express.js).. Reason?? -->
</head>
<body>
    <header class="index__header">
        <nav class="header__nav">
            <ul class="nav__ul">
                <li class="nav__li"><a href="/">Home</a></li>
                <li class="nav__li"><a href = "/admin/add-product">Add a product</a></li>
            </ul>
        </nav>
    </header>
    <main class="main__index">
        <h1 class="main__h1">my products</h1>
        <p class="main__p">list of all the products..</p>
    </main>
</body>
</html>