<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products Page</title>
    <link rel="stylesheet" href="/css/products.css">
</head>
<body>
    <header class="index__header">
        <nav class="header__nav">
            <ul class="nav__ul">
                <li class="nav__li"><a href="/">Home</a></li>
                <li class="nav__li"><a href = "/admin/add-product">Add a product</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <p>this is the products page</p>
    </main>
</body>
</html>