body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
main {
    padding: 1rem;
    background-color: yellowgreen;
}
.index__header {
    width: 100%;
    height: 3.5rem;
    background-color: rgb(224, 197, 47);
    /* padding: 0 1.5rem; */
}
.header__nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.nav__ul {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;

}
.nav__li {
    margin: 0 1rem;
    padding: 0;

}
.nav__li a {
    text-decoration: none;
    font-weight: 700;
    font-size: 110%;
    color: brown;
}
.nav__li a:hover, .nav__li a:active, .nav__li a .active {
    color: rgb(101, 53, 9)
}