body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
main {
    padding: 1rem;
    background-color: rgb(218, 232, 189);;
}
.index__header {
    width: 100%;
    height: 3.5rem;
    background-color: rgb(11, 109, 80);
    /* padding: 0 1.5rem; */
}
.header__nav {
    height: 100%;
    display: flex;
    width: 100%;
    align-items: center;
}
.nav__ul {
    list-style:none;
    margin: 0;
    padding: 0;
    display: flex;

}
.nav__li {
    margin: 0 1rem;
    padding: 0;

}
.nav__li a {
    text-decoration: none;
    font-weight: 530;
    font-size: 110%;
    color: white;
}
.nav__li a:hover, .nav__li a:active, .nav__li a .active {
    transition: 400ms color ease-out;
    color: rgb(210, 237, 55);
}

main .product__form {
    /* background-color: red; */
    
}
.product__form {
    width: 30rem;
    max-width: 90%;
    margin: auto;
}
.form__control {
    margin: 1rem 0;
}
.form__control label, .form__control input {
    display: block;
    width: 100%;
}
.form__control input {
    border: 1px solid #5104cd;
    font: inherit;
    border-radius: 2px;
    object-fit: contain;
    box-sizing: border-box;
}
.product__form button {
    font-family: sans-serif;
    border: 1px solid #5104cd;
    cursor: pointer;
    color:#5104cd;
    font-weight: 600;
    background-color: white;
    border-radius: 2px;
}
.product__form button:hover, .product__form button:active {
    background-color: #5104cd;
    color: white;
}
